In [1]:
# Install pyspark and findspark
!pip install --ignore-install -q pyspark
# Install findspark library
!pip install --ignore-install -q findspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 21.9 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done

In [2]:
# Import findspark
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.functions import col,sum,avg,max

spark = SparkSession.builder.appName('SparkExercise').getOrCreate()
my_data =[("James","Sales","SG",70000,34,10000),
   	    ("Michael","Sales","SG",66000,56,20000),
    	("Robert","Sales","MY",61000,30,23000),
    	("Maria","Finance","MY",60000,24,23000),
    	("Raman","Finance","USA",79000,40,24000),
    	("Scott","Finance","USA",63000,36,19000),
    	("Jen","Finance","UK",89000,53,15000),
    	("Jeff","Marketing","UK",70000,25,18000),
    	("Alice","Marketing","UK",78000,50,21000),
        ("Ada","IT","SG",83000,35,11000),
        ("Jackson","IT","MY",71000,30,21000),
        ("Cooper","IT","UK",91000,40,21000)]

my_schema = ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data=my_data, schema = my_schema )
df.show()
df.printSchema()
df.groupBy("department").min("salary").show()
df.groupBy("department").max("salary").show()
df.groupBy("department").avg("salary").show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   SG| 70000| 34|10000|
|      Michael|     Sales|   SG| 66000| 56|20000|
|       Robert|     Sales|   MY| 61000| 30|23000|
|        Maria|   Finance|   MY| 60000| 24|23000|
|        Raman|   Finance|  USA| 79000| 40|24000|
|        Scott|   Finance|  USA| 63000| 36|19000|
|          Jen|   Finance|   UK| 89000| 53|15000|
|         Jeff| Marketing|   UK| 70000| 25|18000|
|        Alice| Marketing|   UK| 78000| 50|21000|
|          Ada|        IT|   SG| 83000| 35|11000|
|      Jackson|        IT|   MY| 71000| 30|21000|
|       Cooper|        IT|   UK| 91000| 40|21000|
+-------------+----------+-----+------+---+-----+

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+----------+-----------+
|department|min(salary)|
+----------+-----------+
|     Sales|      61000|
|   Finance|      60000|
| Marketing|      70000|
|        IT|      71000|
+----------+-----------+

+----------+-----------+
|department|max(salary)|
+----------+-----------+
|     Sales|      70000|
|   Finance|      89000|
| Marketing|      78000|
|        IT|      91000|
+----------+-----------+

+----------+-----------------+
|department|      avg(salary)|
+----------+-----------------+
|     Sales|65666.66666666667|
|   Finance|          72750.0|
| Marketing|          74000.0|
|        IT|81666.66666666667|
+----------+-----------------+